body {
  background: #181818;
<<<<<<< HEAD
  color: #dddddd;
=======
  color: #3b3b3b;
>>>>>>> b62c8ba5bd5676198b6ca3424d240b7b4a4abfef
  font-family: sans-serif;
}

a {
  color: #9b9b9b;
}

a:hover {
  color: #313131;
}
